@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --mainBGcolor: #fff8bd;
    --warm-yellow: #FFE500;
    --customtext: #4a4a4f;
    --light-green: #1cc54f;
    --darker-green: #158b39;
    --Link-color: #23bbbb;
    --very-dark-color: #1A1A1A;
    --very-light-color: #FFFFFF;
}


body {
    background-color: var(--mainBGcolor);
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--customtext);
}

.red-o {
    color: var(--light-green);
}

.thin {
    font-weight: 300;
}

.dark-bg {
    border-radius: 3px;
    border-color: var(--very-light-color);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--light-green);
}

.author {
    color: var(--very-light-color);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--warm-yellow);
    opacity: 0.8;
    color: var(--very-dark-color);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--warm-yellow);
    opacity: 0.5;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--customtext);
}

.post-link:hover,
.page-link {
    color: var(--darker-green);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--darker-green);
}

.btn-signup {
    background-color: var(--light-green);
    color: var(--very-light-color);
    z-index: 1000;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--darker-green);
    color: var(--very-light-color);
}

.link {
    color: var(--Link-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--customtext);
    text-decoration: underline;
}

.btn-like {
    color: var(--light-green);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--darker-green);
    background: transparent;
    border: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.4);
    background: var(--warm-yellow);
    background: -moz-linear-gradient(top, var(--warm-yellow) 0%, var(--mainBGcolor) 100%);
    background: -webkit-linear-gradient(top, var(--warm-yellow) 0%, var(--mainBGcolor) 100%);
    background: linear-gradient(to bottom, var(--warm-yellow) 0%, var(--mainBGcolor) 100%);
}

.navbar-nav {
    margin-left: auto;
}

.navbar-logo {
    max-width: 100px;
    height: auto;
}

.nav-item.active {
    text-decoration: underline;
}
.maincontent {
    margin-top: 50px;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.masterhead {
    height: 36vh;
}

.container-detail {
    height: 48vh;
}

.footer {
    align-items: center;
    max-height: 20vh;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0px -17px 17px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -17px 17px 0px rgba(0, 0, 0, 0.4);
    background: var(--mainBGcolor);
    background: -moz-linear-gradient(top, var(--mainBGcolor) 0%, var(--warm-yellow) 100%);
    background: -webkit-linear-gradient(top, var(--mainBGcolor) 0%, var(--warm-yellow) 100%);
    background: linear-gradient(to bottom, var(--mainBGcolor) 0%, var(--warm-yellow) 100%);
}

footer i {
    padding-left: 20px;
    padding-right: 20px;
}

.apan {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.apan:hover {
    color: inherit;
}

.img-responsive {
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.signout {
    text-align: center;
}

.card-img-top {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.content-container {
    display: flex;
    align-items: center; 
    font-size: 1.5rem;
}

.text-content {
    flex: 1; 
    padding: 20px; 
}

.image-content {
    flex: 1; 
}

.airimage {
    max-width: 100%; 
    width: 900px;
    height: auto;
    border-radius: 100px;
}
.fhimage {
    max-width: 100%; 
    width: 600px;
    height: auto;
    border-radius: 100px;
}
.fhvideo {
    max-width: 100%; 
    max-width: 100%;
    width: 600px;
    height: 300px;
    border-radius: 100px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* HTML marker styles */
.price-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
}

.price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

[class$=api-load-alpha-banner] {
    display: none;
}

.username {
    font-size: 0.7rem;
    margin-top: 13px;
    color: var(--customtext);
}


/*Contact Page*/

#contactmain {
    margin-top: 5vh;
}

.contactSection {
    margin: 10px;
}

.filler {
    padding: 2%;
    text-align: center;
    
}

#contact-form {
    height: 550px;
    width: 100%;
    background-color: var(--warm-yellow);
    position: absolute;
    transform: translate(-50%, -40%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 8px 35px;
    margin-top: 20%;
    margin: 0 auto;
    max-width: 500px;    
}

#contact-form * {
    color: #3c0647;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin-top: 30px;
    font-weight: bold;    
}


#contact-form h1 {
    font-size: 32px;
    text-align: center;
}

#contact-form label {
    display: block;
}

#contact-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#contact-form textarea {
    display: block;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#contact-form::placeholder {
    color: #e5e5e5;
}

#contact-form button {
    margin-top: 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #080710;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#contact-form textarea:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#contact-form button:hover {
    background-color: rgba(255, 255, 255, 0.8);    
}
/*Contact Page end*/

@media  screen and (max-width: 450px) {
    .Logo {
        display: none;
    }

    .brand {
        font-size: 0.8rem;
    }

    .card-img-top {
        width: 340px;
        height: 340px;
    }

}
@media  screen and (max-width: 375px) {
    
    .card-body {
        padding: 0.5rem;
        
    }
    .card-img-top {
        width: 300px;
        height: 300px;
    }
}