body {
    background-color: #FFF8BD;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #1cc54f;
}

.thin {
    font-weight: 300;
}
.dark-bg {
    /*background-color: #FFF8BD;*/
    border-radius: 3px;
    border-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #158b39;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #1cc54f;
    color: #fff;
    z-index: 1000;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #158b39;
    color: #fff;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #1cc54f;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #158b39;
    background: transparent;
    border: none;
}

.navbar {
    height: 8vh;
    background-color: #FFE500;
    /*-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 12px 22px -1px rgba(0,0,0,0.23); 
box-shadow: 0px 10px 13px -7px #000000, 0px 12px 22px -1px rgba(0,0,0,0.23);*/
}

.navbar-nav {
    margin-left: auto; 
}

.navbar-logo {
    max-width: 100px; 
    height: auto;
}

.maincontent {
    height: 84vh;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, inset 10px 0px 10px 8px rgba(0,0,0,0.71); 
box-shadow: inset 4px 4px 15px 0px #000000, inset 10px 0px 10px 8px rgba(0,0,0,0.71);

}

.masterhead {
    height: 36vh;
}

.container-detail {
    height: 48vh;
    
}

.footer {
    height: 8vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFE500;
    /*-webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 0px 16px 0px rgba(0,0,0,0.71); 
box-shadow: 0px 10px 13px -7px #000000, 15px 0px 16px 0px rgba(0,0,0,0.71);*/
}

.sidebar {
    height: 84vh;
    text-align: center;
    background-color: #FFE500;
}

.sidenav {
    margin-top: 10%;
    
}

.comsec {
    max-height: 28vh;
    overflow: auto;
}

.img-responsive {
    max-width: 50%;
    max-height: 73%; 
    width: auto;
    height: auto;
    object-fit: cover;
}

.signout {
    text-align: center;
    
}