body {
    background-color: #fff8bd;
    overflow-x: hidden;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a4f;
}

.red-o {
    color: #1cc54f;
}

.thin {
    font-weight: 300;
}

.dark-bg {
    border-radius: 3px;
    border-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #1cc54f;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #FFE500;
    opacity: 0.8;
    color: #000;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #FFE500;
    opacity: 0.5;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #158b39;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #158b39;
}

.btn-signup {
    background-color: #1cc54f;
    color: #fff;
    z-index: 1000;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #158b39;
    color: #fff;
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #1cc54f;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #158b39;
    background: transparent;
    border: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.4);
        background: #FFE500;
    background: -moz-linear-gradient(top, #FFE500 0%, #FFF8BD 100%);
    background: -webkit-linear-gradient(top, #FFE500 0%, #FFF8BD 100%);
    background: linear-gradient(to bottom, #FFE500 0%, #FFF8BD 100%);
}

.navbar-nav {
    margin-left: auto;
}

.navbar-logo {
    max-width: 100px;
    height: auto;
}

.maincontent {
    margin-top: 100px;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.masterhead {
    height: 36vh;
}

.container-detail {
    height: 48vh;
}

.footer {
    align-items: center;
    max-height: 20vh;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0px -17px 17px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -17px 17px 0px rgba(0, 0, 0, 0.4);
    background: #FFF8BD;
    background: -moz-linear-gradient(top, #FFF8BD 0%, #ffe500 100%);
    background: -webkit-linear-gradient(top, #FFF8BD 0%, #ffe500 100%);
    background: linear-gradient(to bottom, #FFF8BD 0%, #ffe500 100%);
}

footer i {
    padding-left: 20px;
    padding-right: 20px;
}

.apan {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.apan:hover {
    color: inherit;
}

.img-responsive {
    max-width: 50%;
    max-height: 73%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.signout {
    text-align: center;
}

.card-img-top {
    width: 300px;
    height: auto;
}


@media  screen and (max-width: 450px) {
    .Logo {
        display: none;
    }
    .brand {
        font-size: 0.8rem;
    }
}