{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="text-center mt-5">
            <div class="row justify-content-center">
            <form method="get" action="{% url 'filter_posts' %}">
                <label for="id_race">Race:</label>
                <select id="id_race" name="race">
                    <option value="">All</option>
                    <option value="Hannoveraner">Hannoveraner</option>
                    <option value="Oldenburger">Oldenburger</option>
                    <option value="Westfahle">Westfahle</option>
                    <option value="Quarter">Quarter</option>
                    <option value="Indian">Indian</option>
                    <option value="Paint">Paint</option>
                    <option value="Pony">Pony</option>
                    {% for race_option in RACE_CHOICES %}
                        <option value="{{ race_option.0 }}">{{ race_option.1 }}</option>
                    {% endfor %}
                </select>
            
                <label for="id_brand">Brand:</label>
                <select id="id_brand" name="brand">
                    <option value="">All</option>
                    <option value="Dressage">Dressage</option>
                    <option value="Jumping">Jumping</option>
                    <option value="Cutting">Cutting</option>
                    <option value="Pleasure">Pleasure</option>
                    <option value="Trail">Trail</option>
                    {% for brand_option in BRAND_CHOICES %}
                        <option value="{{ brand_option.0 }}">{{ brand_option.1 }}</option>
                    {% endfor %}
                </select>
            
                <input type="submit" class="btn btn-signup btn-sm" value="Filter">
            </form>
            </form>
        </div>
        </div>
        <div class="col-12 mt-3 left">
            
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698405951/atxoks2atc2bgsytws3p.png" alt="default image">
                                {% else %}
                                <a href="{% url 'post_detail' post.slug %}" class="post-link"><img class="card-img-top" src=" {{ post.featured_image.url }}" alt="post image"></a>
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}