{% extends "base.html" %}

{% block content %}
<!-- Image and description Fürstenhof -->
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-4">
            <h1>Welcome to Fürstenhof Equestrian</h1>
            <p>Nestled amidst the picturesque landscapes of East Frisia, Fürstenhof stands as a sanctuary dedicated to
                the holistic care and training of our cherished equine companions. Our unwavering commitment to their
                well-being knows no bounds, transcending the boundaries between English dressage and Western
                horsemanship. At Fürstenhof, it's not merely a passion; it's a way of life.</p>
            <p>You can find out more about us on our website and feel free to send us a message.
                In the logged in area there is more information about the horses and their origins. 
                Simply <a href="{% url 'account_signup' %}">Register</a> and <a href="{% url 'account_login' %}">Login</a> and you're good to go</p>
        </div>
        <div class="col-md-8 ">
            <img class="img-fluid airimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1697818667/media/upload/micc9fy51znuo4ftcmal.jpg"
                alt="Fürstenhof from the sky">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6 ">
            <!-- Video link change !!! -->
            <div class="embed-responsive embed-responsive-16by9 ">
                <video class="fhvideo" controls width="640" height="360">
                    <source
                        src="https://res.cloudinary.com/db6t1xmmn/video/upload/v1698140372/images/zkzt20hznawevvb2mmkv.mp4"
                        type="video/mp4">
                    Your browser does not support HTML5 videos.
                </video>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Our Trainer</h1>
            <p>At Fürstenhof, our dedicated trainer takes meticulous care of every stage in the development of young
                horses, starting from foals and guiding them through a comprehensive training program that extends to
                the most advanced levels. Our seasoned professional ensures that every horse reaches its full potential,
                mastering the intricacies of each class with a depth of expertise that is second to none</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h1>Our ridetrack</h1>
            <p>Under the enchanting night sky is our illuminated riding arena with a spacious area of 60 x 20 meters.
                Bathed in a soft, enchanting light that comes to life as daylight fades. Here riders and their horses
                become one to create something truly enchanting. The generous lighting transforms every movement into a
                graceful ballet, be it the rhythmic trot, the spirited gallop or the thrill of the piaffe.

                But it's not just a picturesque sight; It is a place of joyful exploration and learning. With the
                different lessons, every training session is full of excitement. No matter whether it is a young horse
                for the first time under saddle or an experienced horse on the way to the Grand Prix. Our riding arena
                is like a spacious playground where the horses are well looked after. Thanks to its generous space, it
                even offers space for several riders at the same time.</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137428/images/yht9yfiewfjn159thwen.jpg"
                alt="ridetrack">
        </div>
        <br>
        <div class="col-md-4">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137428/images/o0kla3sq0dnfqczkzsnr.jpg"
                alt="ridetrack">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137428/images/pbceds2cbizd2ubdx7vz.jpg"
                alt="pasture">
        </div>
        <br>
        <div class="col-md-4">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137427/images/puy8p2sy7vlgl29y1bk6.jpg"
                alt="pasture">
        </div>
        <div class="col-md-4">
            <h1>The summer pasture</h1>
            <p>During the sun-kissed months from May to October, our enchanting summer pasture transforms into a
                sanctuary for our beloved equines. Here, two distinct herds, one consisting of nurturing mares with
                their playful foals, and the other comprised of spirited geldings and Stallions, roam freely across
                approximately 3 hectares of lush, verdant terrain. Within this idyllic setting, our horses have the
                opportunity to luxuriate in the expanse, reveling in their natural expressions.

                Our dedicated team maintains a vigilant watch over these equine herds. Each morning, the horses are
                released to graze in the pastures, and they return to the stables for their evening meal. Come rain or
                shine, we are unwavering in our commitment to ensuring their every need is met. The ever-changing
                weather may dictate the duration of our time in this equine paradise, yet whether the summer stretches
                its embrace long or briefly, one thing remains constant—the devotion to our horses' well-being.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h1>Our Winter paddock</h1>
            <p>Even in the harshest of winters, our majestic equines roam freely when nature allows. Within the expanse
                of our winter paddocks, they find an endless supply of fresh, fragrant hay and crystal-clear water
                throughout the day and night. In the realm of Fürstenhof, the changing seasons only serve to further
                reveal the indomitable spirit and resilience of our cherished companions.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137428/images/fv5n2ccyg5hc3chlplny.jpg"
                alt="paddock">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid fhimage"
                src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1698137429/images/ksribuj3i7pa83scahsc.jpg"
                alt="stable">
        </div>
        <div class="col-md-4">
            <h1>The stable</h1>
            <p>We have lovingly transformed a rustic cowshed into a haven of warmth and comfort for our equine
                companions. Within these spacious, individual stalls, every horse finds solace and tranquility, allowing
                them to rejuvenate after a day of dedicated effort. At Fürstenhof, our commitment to their well-being
                knows no bounds, and it's evident in every cozy corner of our stable.</p>
        </div>
    </div>
</div>
{% endblock content %}