{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <div class="text-content">
        <h1>Welcome to Fürstenhof Equestrian</h1>
        <br>
        <p>The Fürstenhof is located in the middle of the idyllic landscape of East Frisia. For us, everything revolves around the well-being and training of the horses. It doesn't matter whether it's English dressage or western.</p>
    </div>
        <div class="image-content">
            <img class="fhimage" src="https://res.cloudinary.com/db6t1xmmn/image/upload/v1697818667/media/upload/micc9fy51znuo4ftcmal.jpg" alt="Fürstenhof from the sky">
        </div>

</div>
<br>
<div>
    <p>hier ist die map</p>
    <div class="map-container">
        <div id="map">MAP</div>
    </div>
    <h2>auch test</h2>
</div>
{% endblock content %}